<!-- <img class="displayed" width ="250" height="100" src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/13240582_1638047779854456_2200865953784565772_n.jpg?oh=d8c8f2f225452454fe3b50ab3253f41c&oe=57D58D34" alt =""> -->

<nav class="nav" style="padding: 10px 0 0 0;">
  <img src ="../../resources/logocircle.jpg" style="width:100px;height:100px; display: block; margin-left: auto; margin-right: auto; padding: 15px 0 0 0;"></img><br></br>
  <!-- <h1>Big Dill and the Boys</h1> -->
  <ul>
   <li><a a href="" ng-click="navbtn = !navbtn">&#9776;</a></li>
  </ul>
  <ul ng-hide="navbtn == false;">
   <li><a href="/">Home&nbsp;&nbsp;</a></li>
   <li><a href="dill-about.html">About</a></li>
   <li><a href="dill-contact.html">Contact</a></li>
   <!-- <li><a href="dill-tour.html">Tour</a></li>
   <li><a href="dill-music.html">Music</a></li>    need this page -->
  </ul>
</nav>
