/********************
	   GENERAL
********************/


#wrapper {
  max-width: 100%;
  margin: 0 0 0 0;
  padding: 0;
}



a{
  text-decoration: none;
}

img.displayed {
	display: block;
	margin: auto;
	margin-top: 20px;
	border-color: #599a68;
	max-width: 98%;
}

img {
	max-width: 100%;
}

/********************
	   HEADING
********************/


#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 15px 0;
	text-align: center;
	font-size: 1.75em;
	line-height: 0.8em;
	font-weight: normal;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
  color: #000;
	font-weight: normal;
	text-align: center;
}


/*
div.fb-page{
	clear: both;
}
 */




/********************
	 NAVIGATION
********************/





/* green header */


/* nav element on mobile devices */


nav  {
	background: #000;
	width: 100%;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

nav h1 {
  padding-top: 10px;
  font-size: 20px;
}

nav ul {
	list-style: none;
  text-align: center;
  height: 50px;
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
  background: #fff;

}

nav li {
	display: inline-block;
}

/* nav links */
nav a, nav a:visited {
  padding: 14px 16px;
	color: #000;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: black;
  background-color: #D3D3D3;
}


/********************
	   COLORS
********************/






/* logo text */
h1, h2 {
	color: #fff;
}




/* site body */
body {
  margin: 0px 0px 0px 0px;
  width: 100%;
	background-color: #D3D3D3;
  padding: 0;
}

/*******************
  PAGE: PORTFOLIO - specific to homepage
*******************/

.tourDates {
	margin: 20px;
  margin-left: auto;
  margin-right: auto;
	padding: 5px 0 20px 0;
	width: 99%;
	background-color: 	#fff;
}


.tourShows {
	margin: auto;
	background-color: #787878;
	height: 95%;
	width: 95%;
}

.imgGal {

}

.showList {
	padding-right: 20px;
	text-align: center;
	list-style: none;
	font-size: 10px;
}


.showHeader {
	line-height: 150%;
}
/*******************
	  FOOTER
*******************/



.footer {
	font-size: 0.75em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	clear: both;
  display: block;
	padding-top: 10px;
	color: #ccc;
}



/************
	ABOUT

************/

.info {
  margin: 30px 10px 0 10px;
  background-color: #fff;
  border-radius: 20px;
}

div.members {
	border-radius: 20px;
	background-color: #fff;
	height: 95%;
	width: 45%;
  display: block;
  margin: 30px 10px 10px 10px;
}

.memberList {
	padding-right: 20px;
	text-align: center;
	list-style: none;
	font-size: 10px;
}

.memberHeader {
	line-height: 150%;
}

img.memberPic {
	width: 80%;
  min-width: 70px;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 50%;
}

.img-left {
    float:left;
}

.img-right {
    float:right;
}

/************
	CONTACT

************/



/************
	CONTACT

************/

.button {
	display: block;
	background: #000;
	font-size: 25px;
	border-radius: 25px;
	margin: auto;
}

input[type="checkbox"] {
	display: block;
	background-color: #802A2A;
	font-size: 25px;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 15px;
}

#contactInfo {
  margin: auto;
  margin-top: 5px;
  width: 96%;
}

#contactInfo h1, h2 {
  color: #000;
}

#emailForm {
	text-align: center;
	border-radius: 5px;
  background-color: #fff;
  margin: auto;
  margin-top: 5px;
	width: 96%;
}

/*
.contactHeader {
  color: #000;
}
#contactMessageWrapper {
	margin: auto;
	margin-top: 2%;
	padding-top: 20px;
	background: #802A2A;
	width: 60%;
	word-wrap: break-word;
	border-radius: 100px;
}

.contactMessageA {
  color: #000;
	font-size: 18px;
	list-style: none;
	text-align: center;
	margin: -25px 15px 0 0;
}

.contactMessage {
	color: #fff;
	font-size: 18px;
	list-style: none;
	text-align: center;
	margin: 0 15px 0 0;
} */

/****
*****/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #989898;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #D8D8D8;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*************
IMG GALLERY
*************/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px 4px 4px;
    background-color: #fff;
    margin: 1% .5% 0 .5%;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 24.2%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/*********
Music
*********/

.musicBtn {
  text-align: center;
}
